@import 'variables.scss';

.pricing {
	padding: 20px 0;
}

.pricing-section {
	padding: 10px 0;
}

.total-label,
.total-value {
	color: $body-blue;
}

.totalpv-label,
.totalpv-value {
	color: $lavender;
}

.total-value,
.totalpv-value {
	font-weight: bold;
}
