#root {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
}

#root .navbar {
	background-color: rgba(255, 255, 255, 0.97) !important;
	height: 95px;
}

#root .navbar .nav-link {
	font-size: 0.7rem;
	color: #84909b;
	padding-left: 0;
	padding-right: 0;
}

#root .navbar .dropdown-toggle.nav-link {
	color: #354657;
	font-weight: 600;
	font-size: 16px;
	margin: 0 10px;
	padding-right: 16px;
	padding-left: 16px;
}

#root .navbar .navbar-nav {
	align-items: center;
}

#root .navbar input {
	width: 610px;
	height: 50px;
	border-radius: 25px;
	box-shadow: 0px 0px 4px rgb(0 0 0 / 8%), 0px 0px 8px rgb(0 0 0 / 16%);
}

header {
	background-color: rgba(255, 255, 255, 0.97) !important;
	border-bottom: 2px solid #eeeeee;
	border-top: #bd8bca 5px solid;
}

#root .navbar .logo {
	width: 115px;
	height: 21px;
}

#root .navbar {
	width: 100%;
}

#root .wishlist--item.row > * {
	padding: 0;
}

#root .btn-primary {
	border-radius: 20px;
	border: 3px solid #9d57b2;
	background-color: white;
	color: #9d57b2;
	font-weight: bold;
}

#root .btn-secondary {
	border-radius: 20px;
	border: 3px solid white;
	background-color: white;
	margin-left: -15px;
	color: #6e7a86;
}

#root .btn-info {
	min-width: 132px;
	background-color: white;
	border-radius: 20px;
	border: 3px solid #6e7a86;
	color: #354657;
	float: right;
	font-weight: bold;
}

#root .quantity--selector {
	width: 100%;
	border: 1px solid #bec4c9;
	border-radius: 5px;
}

#root .quantity--input {
	border: 0;
	width: 100%;
}

#root .quantity--minus,
#root .quantity--plus {
	padding: 10px;
	cursor: pointer;
}

.title,
.pricing,
.wishlist__actions {
	padding: 20px 0;
}

.pricing-section {
	padding: 10px 0;
}

.total-label,
.total-value {
	color: #354657;
}

.totalpv-label,
.totalpv-value {
	color: #9d57b2;
}

.total-value,
.totalpv-value {
	font-weight: bold;
}

.wishlist--item {
	position: relative;
	align-items: center;
	justify-content: space-evenly;
	border: 1px #c1c7cd solid;
	border-radius: 10px;
	opacity: 1;
	transform: translateY(0);
}

.wishlist--item.removed {
	opacity: 0;
	transform: translateY(-25px);
	transition: all 2s ease-out;
}

.wishlist--item .alert {
	position: absolute;
	display: flex;
	align-items: center;
	text-align: center;
	width: 400px;
	height: 60px;
	top: 5px;
	background-color: #354657;
}

.wishlist--item .item--name {
	color: #0067dc;
	font-weight: bold;
}

.wishlist--item .item--pv {
	color: #9d57b2;
}

.wishlist--item .item--retail {
	color: #354657;
}

.wishlist--item .item--wholesale {
	color: #354657;
	font-weight: bold;
}

.icon::before {
	width: 3.5em;
	height: 3.5em;
	content: '';
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-clip: border-box;
}

.icon {
	position: relative;
}

.icon--bag::before {
	background-image: url('src/assets/icons/bag-filled.svg');
}

.icon--account::before {
	background-image: url('src/assets/icons/my-account.svg');
}

.icon--help::before {
	background-image: url('src/assets/icons/help.svg');
}

#root .dropdown-toggle::after {
	color: #fff;
}

.minicart--section {
	box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
	min-width: 350px;
	min-height: 120px;
	position: absolute;
	left: 75%;
	top: 100%;
}

.minicart--section {
	display: none;
}

.span-minicart {
	display: inline;
	position: absolute;
	border-radius: 50%;
	color: #354657;
	font-weight: 700;
	width: 20px;
	height: 20px;
	top: -15px;
	left: 9px;
	font-size: 11px;
}
